# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env

# IDEs and Editors
.vscode/
.idea/

# Build output
/dist
/build

# Dependency directories
jspm_packages/

# Coverage directory
coverage/

# React specific
client/build/

# Temporary files
.DS_Store
Thumbs.db

# Misc
.env.local
.env.development.local
.env.test.local
.env.production.local
