.react-calendar {
    width: 34vw;
    text-decoration: none;
  }
  .react-calendar__tile {
    width: 70px;
    height: 70px;
    
  }
  .react-calendar__tile--active {
    background: #004d4d;
    color: white;
    border-radius: 50%;

  }
  .react-calendar__tile--now {
    background: #e0f7fa;
    color: #004d4d;
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }