

  .content{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
  }
  
  .content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0s cubic-bezier(1,0,1,0);
  
  }
  
  